/***************************************ESTILOS GENERALES******************************************/

/*Menu sidebar*/

[class*='sidebar-dark-'] {
    background-color: #073763;
}

/*Contenedor dentro del menú sidebar*/

.layout-navbar-fixed .wrapper .sidebar-dark-success .brand-link:not([class*="navbar"]) {
    background-color: inherit;
}

/*Cambiando el valor del color establecido en esta clase*/

.navbar-light-blue {
    background-color: #ffffff;
    /*Exacto, blanco :V*/
}

/*verde utilizado por micoope*/

.verde-micoope {
    background: #28a745;
}

.card-header>.card-tools {
    position: absolute;
    z-index: 999999;
    right: 0.8em;
    top: 0.5em;
}

/*texto no seleccionable*/

.not_selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*elementos sin outline en estado active*/

.form-control:focus {
    box-shadow: none !important;
    border: 2px solid #e6e6e6;
}

.verde-asesor {
    background-color: #17b87b !important;
}

.info-opaco {
    background: #0f8497;
}

.info-opaco .nav-pills .nav-link {
    color: #c2c7d0 !important;
}

.verde-asesor .nav-pills .nav-link {
    color: #ffffff !important;
}

.icon_centrado {
    vertical-align: -0.9em;
}

/***cards personalizadas*/

.card-success-light:not(.card-outline)>.card-header {
    background-color: #49A059;
}

.card-primary-light:not(.card-outline)>.card-header {
    color: #fff;
    background: #1086B7;
}

/*alerts*/

.alert-primary-light {
    color: #fff;
    background: #1086B7;
    border-color: #1086B7;
}

/**************************************************************************************************/

/***************************************LINEA BASE ASOCIADO/***************************************/

/*
  iconos con color dinamico, si el usuario selecciona "si"
  el icono correspondiente sera de color verde; si el usuario
  selecciona "no", el icono sera de color rojo

  */

.si_no_icons .resp_si, .si_no_icons .resp_no {
    display: none;
}

.si_no_icons label i {
    color: #dddddd;
    font-size: 1.3em;
}

.resp_si:checked+label i {
    color: green;
}

.resp_no:checked+label i {
    color: red;
}

/*Ocultar mostrar campo detalle_otros automaticamente*/

.detalle_otros {
    display: none;
    transform: scale(0);
    transition: transform 100ms ease;
}

/*************************************************************************************************/

/***********************CARTA ASOCIADO/***********************/

/*Firma de texto editable*/

.carta .firma p {
    display: inline;
}

.carta .firma #contenedor {
    display: inline-block;
    min-width: 150px;
}

.carta .firma #texto_firma {
    border-bottom: 2px solid rgb(59, 59, 59);
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    text-transform: capitalize;
}

.carta .firma #texto_firma:focus {
    outline: none;
}

/************************************************************/

/*************************BUSCAR EMPRESA****************************/

/*******************************************************************/